@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

.poppins {
  font-family: var(--font-poppins);
}

.menu-item-button {
  position: relative;
}

.menu-item-button:hover {
  padding-bottom: 4px;
}

/* .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

pre code {
  display: inline-block;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 100%;
  overflow-wrap: break-word;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

table th,
table td {
  padding: 8px 16px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #e2e2e2;
}

.menu-item-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.menu-item-button:hover::after {
  width: 100%;
}

.menu-item-text {
  position: relative;
}

.menu-item-text:hover {
  padding-bottom: 4px;
}

.menu-item-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #3b82f6;
  transition: width 0.3s ease;
}

.menu-item-text:hover::after {
  width: 25%;
}

.short-menu {
  max-width: 60%;
  margin-left: auto;
  margin-right: 1rem;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 768px) {
  .short-menu {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.list-alpha {
  list-style-type: lower-alpha;
}

.list-roman {
  list-style-type: lower-roman;
}
