@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

.poppins {
  font-family: var(--font-poppins);
}

.menu-item-button {
  position: relative;
}

.menu-item-button:hover {
  padding-bottom: 4px;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.hide-scrollbar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);  */
  border-radius: 10px;
}
 
/* Handle */
.hide-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(59 130 246); 
  border-radius: 10px;
}

/* Handle on hover */
.hide-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(30 64 175); 
}

/* .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

pre code {
  display: inline-block;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 100%;
  overflow-wrap: break-word;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

table th,
table td {
  padding: 8px 16px;
  border: 1px solid #ddd;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.menu-item-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.menu-item-button:hover::after {
  width: 100%;
}

.menu-item-text {
  position: relative;
}

.menu-item-text:hover {
  padding-bottom: 4px;
}

.menu-item-text::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #3b82f6;
  transition: width 0.3s ease;
}

.menu-item-text:hover::after {
  width: 25%;
}

.specialization-block {
  position: relative;
}

/* .specialization-block:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 3rem;
  width: 100%;
  height: 100%;
  background-color: #1c4644;
  opacity: 0.8;
} */

.short-menu {
  max-width: 60%;
  margin-left: auto;
  margin-right: 1rem;
  align-items: flex-start !important;
}

.small-menu ul + ul {
  padding: 0;
}

/* .input-field-phone {
  border: 1px solid rgb(209 213 219)
} */

.input-field-phone input {
  background-color: black;
}

.phone-number-section .input-field-phone input {
  background-color: transparent;
}

.input-field-phone input:focus {
  outline: none;
}

.PhoneInputCountrySelect::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.PhoneInputCountrySelect::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}
 
/* Handle */
.PhoneInputCountrySelect::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

.phone-number-section .PhoneInputCountrySelect::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

.PhoneInputCountrySelect {
  background-color: black;
}

.phone-number-section .PhoneInputCountrySelect {
  background-color: #ffffff;
}

.phone-number-section .PhoneInputCountry {
  background-color: transparent;
}

.PhoneInputCountry {
  padding: 0.5rem;
  border-radius: 0.3rem 0 0 0.3rem;
}

.PhoneInputCountrySelectArrow {
  width: 0.3rem;
  height: 0.3rem;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 768px) {
  .short-menu {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* @media only screen and (max-width: 600px) {
  .top-banner-desc {
    display: none;
  }
} */

.list-alpha {
  list-style-type: lower-alpha;
}

.list-roman {
  list-style-type: lower-roman;
}
